#customers { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 72px;
    background-color: var(--silver);
    padding-top: 32px;
    padding-bottom: 32px;
    margin-top: 40px;
    margin-bottom: 40px;
}

#customers h4 {
    color: var(--primary);
}

.testimonial-writer { 
    margin-top: 16px;
}

.testimonial { 
    margin-bottom: 32px;
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.logos {
    display: flex;
    justify-content: flex-end;
    gap: 32px;
    align-items: center;
}

.logos div { 
    display: flex;
    align-items: center;
    gap: 41px;
}