@import "./typography.css";
@import "./variables.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


section { 
    width: 100vw;
    padding: 0 144px;

}

#our-clients , #manage-community{ 
    text-align: center;
}