.sub-section {
  display: flex;
  text-align: left;
  gap: 64px;
}

.sub-section img {
  width: 442px;
}

.sub-section div {
 margin: auto;
}

.sub-section div p { 
    margin-top: 16px;
    margin-bottom: 32px;
    text-align: left;
}
 