@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "./variables.css";

* {
  font-family: "Inter", sans-serif;
}

h1 {
  font-weight: "semibold";
  font-size: 4rem;
  line-height: 76/16rem;
  color: var(--black);
}

h1 span {
  display: block;
  color: var(--primary);
}

h2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: var(--d-grey);
}

h3 {
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
}

h4 {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
}

p {
  font-weight: normal;
  color: var(--grey);
}

p.body-1,
ul > li > a {
  font-size: 18px;
  line-height: 28px;
}

p.body-2 {
  font-size: 16px;
  line-height: 24px;
}

 .body-3 {
  font-size: 14px;
  line-height: 20px;
}

p.body-4 {
  font-size: 12px;
  line-height: 16px;
}

button {
  padding: 16px 32px;
  border-radius: 4px;
  color: white;
  background-color: var(--primary);
  border: none;
  cursor: pointer;
  font-size: 18px;
  line-height: 24px;
  gap: 8px;
}

button.icon-button {
  padding: 20px;
  font-size: 24px;
}

button.disabled,
button:hover {
  background-color: var(--silver);
  color: var(--primary);
}

button.disabled:hover {
  background-color: var(--primary);
  color: white;
}

a {
  text-decoration: none;
  color: var(--secondary);
}

a:hover {
  font-weight: 500;
}
